
.d_asterisk {
    color: #ff0000;
}
/*-------------------------
  ĐỊNH DẠNG CÁC KHOẢNG CÁCH 
  -------------------------*/
.d_divide1 {
    height: 1px;
    clear: both; 
    font-size: 0;
}
.d_divide2 {
    height: 2px;
    clear: both;  
    font-size: 0;
}
.d_divide3 {
    height: 3px;
    clear: both;   
    font-size: 0;
}
.d_divide4 {
    height: 4px;
    clear: both;   
    font-size: 0;
}
.d_divide5 {
    height: 5px;
    clear: both;  
    font-size: 0;
}
.d_divide10 {
    height: 10px;
    clear: both;  
    font-size: 0;
}
.d_divide15 {
    height: 15px;
    clear: both;  
    font-size: 0;
}
.d_divide20 {
    height: 20px;
    clear: both; 
    font-size: 0;
}

.no_padding{
    padding: 0px;
}
.no_margin{
    margin: 0px;
}
.padding_5{
    padding: 5px;
}
.padding_10{
    padding: 0px 10px;
}
.padding_8{
    padding: 8px;
}
.no_padding_right{
    padding-right: 0px;
}